.desktop-scroll-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  overflow: auto;
  //
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px yellow;
  }
  &::-webkit-scrollbar-thumb {
    background-color: blue;
  }
}
